# Database
DATABASE_URL="postgresql://user:password@localhost:5432/ironman?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="change-me-to-a-random-secret-at-least-32-chars"

# Admin credentials (used during seed)
ADMIN_EMAIL="admin@ironman.co.il"
ADMIN_PASSWORD="ChangeMe123!"

# WhatsApp contact
NEXT_PUBLIC_WHATSAPP_NUMBER="972507562842"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
